*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header{
    position: relative;
    width:100%;
    background-color: #B3C38E;
    text-align: center;
    color:#2E7D32;
    height: 100px;
    z-index: 1000;

}

/* PARTE SUPEIOR DEL HEADER  */

.navigation-1{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 32px;
    height: 60px;
    background-color: #FAFAFA;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.nav-logo img {
    display: flex;
    justify-content: flex-start;
    height: 80px;
    width: auto;
    
}

.nav-title{
    font-size: 16px;
    font-weight: 500;
    flex: 1;
    text-align: center;
    
}

.nav{
    width: 33%;
}

.nav-icons {
    display: flex;
    justify-content: end;
    box-sizing: border-box;
    
}

.nav-icons ion-icon{
    color: #2E7D32;
    font-size: 18px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    padding: 10px;
    border-radius: 50%;
}

.nav-icons ion-icon:hover{
    transform: scale(1.2);
    background-color: #2E7D32;
    border-radius: 50%;
    color: #FAFAFA;
    padding: 10px;
}

/* PARTE INFERIOR DEL HEADER  */

.navigation-2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #A5D6A7;
    height: 40px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-container ion-icon {
    position: absolute;
    left: 10px; /* Ajusta según sea necesario */
    color: #888;
    font-size: 20px;
    margin-left: 30px;
}

.input-container input {
    padding-left: 35px; /* Espacio para el ícono */
    padding-right: 10px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 1rem;
    width: 100%;
    margin-left: 30px;
    background-color: #FAFAFA;
}

.nav-menu{
    margin-left: 30px;
}

.nav-menu a{
    margin-right: 20px;
    text-decoration: none;
    color: #2E7D32;
    font-weight: 600;
    font-size: 15px;
    transition: font-size 0.3s ease;
}

.nav-menu a:hover{
    font-size: 16px;
}

/* Menu Desplegable */

.menu-container {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 50px; /* Ajusta según sea necesario */
    right: 0;
    background-color: #FAFAFA;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
    width: 200px;
}

.dropdown-menu .a-perfil{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #2E7D32;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-sizing: border-box;
    margin: 0;
}

.dropdown-menu .a-perfil:hover {
    background-color: #2E7D32;
    color: #FAFAFA;
}


.menu-container.active .dropdown-menu {
    display: block;
}

/* opciones de perfil */

.container-perfil{
    display: flex;
    background-color: #F1F8E9;
    flex-wrap: wrap;
}

.perfil{
    width: 20%;
    height: calc(100vh - 100px);
    background-color:#FAFAFA ;
    display: flex;
    flex-direction: column;
}

.perfil a{
    margin: 0px;
    text-decoration: none;
    color: #2E7D32;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.1s ease;
}

.perfil a:hover{
    color: white;
    background-color: #2E7D32;
}

.perfil ion-icon{
    margin-right: 15px;
    margin-left: 20px;
}

/* parte derecha del perfil */
.container-container{
    flex: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 100px;
}

.container-container .titulo h3{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    border: 1px solid #ddd;
    width: 350px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
}

label{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin-bottom: 10px;
}

.container input{
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #333;
    background-color: #FAFAFA;
    margin-bottom: 30px;
    width: 300px;
}

.container input::placeholder{
    font-style: italic;
    word-spacing: 1px;
}

.botones{
    display: flex;
    gap: 10px;
}

.botones button{
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-cambiar{
    background-color: #2E7D32;
    color: #FAFAFA;
}

.btn-cambiar:hover {
    background-color: #1B5E20;
}

.btn-eliminar{
    background-color: #d32f2f;
    color: #FAFAFA;
}

.btn-eliminar:hover {
    background-color: #B71C1C;
}

.imagen {
    flex: 1;
    background-image: url('../img/foto.jpeg');
    background-size: cover;
    background-position: center;
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 33% 100%, 19% 51%,60% 0);
}

/* notificaciones desplegables */

.noti-container {
    position: relative;
    display: inline-block;
}

.dropdown-noti {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 50px; /* Ajusta según sea necesario */
    right: 0;
    background-color: #FAFAFA;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
    width: 400px;
    height: 300px;
}

.controladores{
    display: flex;
    border-bottom: 1px solid #ccc;
}

.controladores-izquierda{
    display: inline-flex;
    justify-content: flex-start;
}

.controladores .settings-icon{
    display: inline-flex;
}

.leidos{
    display: flex;
    flex-direction: column;
}

.tarjeta-noti{
    display: flex;
    padding: 10px ;
    margin: 0;
}

.tarjeta-noti:hover{
    background-color: #ddd;
}

.img-noti{
    background-image: url(../img/santarosa.jpg);
    width: 100px;
    height: 70px;
    background-size: cover;
    border-radius: 3px;
}

.info-noti h5{
    color: #333;
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
}

.info-noti p{
    color: #888;
    font-size: 11px;
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
}

.btn-leidos{
    position: relative;
    height: 35px;
    width: 200px;
    border-radius: 5px;
    border: none;
    background-color: #ccc ;
    color: #333;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: auto;
    margin-top: 95px;
}

.dropdown-noti .controladores, .dropdown-noti .leidos{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    text-decoration: none;
    color: #2E7D32;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-sizing: border-box;
    margin: 0;
}

.noti-container.active .dropdown-noti {
    display: block;
}

/* checkbox  */

.toggle{
    box-sizing: border-box;
    display: inline-block;
    margin-left: 10px;
    align-items: center;
}

.switch{
    margin-top: 10px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ddd ;
    border-radius: 40px;
    cursor: pointer;
    border: gray;
    margin-right: 15px;
}

.switch::after {
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 40px;
    background-color: gray ;
    left: 3px;
    top: 3px;
    transition: all 0.4s
}

/* el switch esta desactivo */


input[type='checkbox']:checked + .switch::after{
    transform: translateX(20px);
    background-color: #ddd;
}

 /* ek switch esta activado  */
input[type='checkbox']:checked + .switch{
    background-color:#2E7D32;
}

.offscreen{
    position: absolute;
    left: -99999px;
}