*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width:100%;
    margin:0;
    padding:0;
    background-color: #f4f4f4;
    box-sizing: border-box;
    min-height: 100vh
}
/* estilos del encabezado */
header{
    width:100%;
    background-color: #a8d5a1;
    text-align: center;
    border-radius: 0 0 50px 50px;
    color:#5c4747;
}

.barra-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 120px;
}

.barra-superior a {
    text-decoration: none;
    color: #5c4747;
    font-size: 25px;
}

.logo {
    font-weight: bold;
    font-style: italic;
    font-size: 45px;
}

.nav-icons i, .nav-icons a {
    margin-left: 10px;
    cursor: pointer;
    margin-right: 15px;
    font-weight: bold;
}

.nav-icons a {
    text-decoration: none;
    color: #5c4747;
    font-weight: bold;
}

.abrir-menu, .cerrar-menu {
    display: none;
}

@media screen and (max-width: 904px) {
    .abrir-menu, .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #a8d5a1;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        z-index: 99999999;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-icons i, .nav-icons a, .nav-icons button {
        flex-direction: column;
        align-items: center;
    }
}

.nav-bar {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid #ddd;
    flex-wrap: wrap; /* Añadido para responsividad */
}

.nav-bar a {
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #5c4747;
}

.nav-bar a:hover {
    color: #a8d5a1;
}

.nav-bar i {
    cursor: pointer;
}

.search-bar {
    display: flex;
    background-color: rgba(193, 225, 193, 0.5);
    border-radius: 20px;
    padding: 5px 10px;
    width: 30%;
    min-width: 200px; /* Añadido para responsividad */
}

.search-bar a {
    text-decoration: none;
    color: #5C4747;
    cursor: pointer;
}

.search-bar i {
    margin-right: 10px;
    color: #555;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.search-bar button i {
    color: #555555;
    font-size: 18px;
}

.search-bar input {
    border: none;
    outline: none;
    background: transparent;
    flex-grow: 1;
    font-size: 16px;
}
.complemento{
    width:100%;
    height: 100%;
}
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsivo */
    grid-template-rows: auto auto; /* Responsivo */
    gap: 15px;
    margin: 50px;
}

.item {
    background-color: #444;
    color: #fff;
    padding: 20px;
    font-size: 150%;
}

.mobile-only {
    display: block;
}

.desktop-only {
    display: none;
}

.item-0 {
    grid-column: 1 / -1; 
    grid-row: 1;
    height: 300px; 
}

.item-1, .item-2 {
    height: 196px;
}

@media (min-width: 768px) {
    .galeria {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 8px;
    }

    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
    }

    .item-0 {
        background-image: url(/EXPLORE_RISARALDA/img/Elicoidal-Rutas-Magicas.jpg);
        background-size: cover;
        border-radius: 12px 0px 0px 12px;
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        height: 400px;
    }

    .item-1 {
        background-image: url(/EXPLORE_RISARALDA/img/Dosquebradas__risalda.jpg);
        background-size: cover;
        border-radius: 0px 12px 0px 0px;
        grid-column: 3;
        grid-row: 1;
    }

    .item-2 {
        background-image: url(/EXPLORE_RISARALDA/img/Dosquebradas_risal.jpg);
        background-size: cover;
        border-radius: 0px 0px 12px 0px;
        grid-column: 3;
        grid-row: 2;
    }
}
/* Estilos de botones  */
.botones {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap; 
}
/* Botones de despliegue  */
.boton-desple {
    display: block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    margin: 10px; 
    width: 150px;
}
/* Seccion oculta */
.main {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    max-width: 1300px;
}
/* Lugar de informacion */

/* seccion de informacion de hotel, restaurante y aventura */
.paquetes-vaciarcarrito{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paquetes-vaciarcarrito p{
    color: #5c4747;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}

.paquetes-vaciarcarrito button{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid gray;
    color: #5c4747;
    letter-spacing: 1px;
    font-size: 15px;
    background-color: transparent;
}

.contenedor-carrito{
    display: block;
    width: 100%;
    background-color: rgb(232, 236, 236);
    padding: 30px 0px ;
}

.paquete-carrito{
    display: flex;
    width: 60%;
    margin: 0px 50px 50px 50px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 1000px;   
}

.paquete-carrito img{
    width:480px;
    height: 300px;
    border-radius: 5px;
}

.paquete-carrito p{
    font-size: 20px;
}

.paquete-carrito .info-carrito{
    margin: 0px 20px;
    color: #5c4747;
}
.info-carrito h2{
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
}

.paquete-carrito .btn-personas{
    display: flex;
    align-items: center;
}

.paquete-carrito .btn-personas i{
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
    border: 1px solid gray;
}

.paquete-carrito .btn-personas p{
    font-size: 25px;
    margin-left: 10px;
}

.paquete-carrito input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    background-color: transparent;
}

.paquete-carrito .botones{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.paquete-carrito .botones button{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #a8d5a1 ;
    background-color: transparent;
    color: #5c4747;
    letter-spacing: 1px;
    font-size: 15px;
}

.paquete-carrito .detalle-compra{
    color: #5c4747;
    margin-left: 50px;
}

.paquete-carrito .detalle-compra button{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #a8d5a1 ;
    background-color: transparent;
    color: #5c4747;
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 125px;
}

.paquete-carrito .detalle-compra .precio{
    display: flex;
    justify-content: space-between;
}

.paquete-carrito .detalle-compra .precio p{
    font-weight: 600;
}
/* Ajuste para dispositivos moviles  */
@media (max-width: 600px) {
    .card {
        max-width: 150px;
    }

    .card img {
        width: 100px;
        height: 100px;
    }
}
.footer {
    width: 100%;
    background: black;
    color: #f4f4f4;
    text-align: center;
    padding: 10px;
    display: flex;
    position: fixed;
    justify-content: center;
    bottom:0;
}
