*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header{
    position: relative;
    width:100%;
    background-color: #B3C38E;
    text-align: center;
    color:#2E7D32;
    height: 100px;
    z-index: 1000;

}

/* PARTE SUPEIOR DEL HEADER  */

.navigation-1{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 32px;
    height: 70px;
    background-color: #FAFAFA;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.nav-logo img {
    display: flex;
    justify-content: flex-start;
    height: 80px;
    width: auto;
    
}

.nav-title a{
    font-size: 16px;
    font-weight: 500;
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #2E7D32;
}

.nav{
    width: 33%;
}

.nav-icons {
    display: flex;
    justify-content: end;
    box-sizing: border-box;
    
}

.nav-icons ion-icon{
    color: #2E7D32;
    font-size: 18px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    padding: 10px;
    border-radius: 50%;
}

.nav-icons ion-icon:hover{
    transform: scale(1.2);
    background-color: #2E7D32;
    border-radius: 50%;
    color: #FAFAFA;
    padding: 10px;
}

/* PARTE INFERIOR DEL HEADER  */

.navigation-2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #A5D6A7;
    height: 40px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-container ion-icon {
    position: absolute;
    left: 10px; /* Ajusta según sea necesario */
    color: #888;
    font-size: 20px;
    margin-left: 30px;
}

.input-container input {
    padding-left: 35px; /* Espacio para el ícono */
    padding-right: 10px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 1rem;
    width: 100%;
    margin-left: 30px;
    background-color: #FAFAFA;
}

.nav-menu{
    margin-left: 30px;
}

.nav-menu a{
    margin-right: 20px;
    text-decoration: none;
    color: #2E7D32;
    font-weight: 600;
    font-size: 15px;
    transition: font-size 0.3s ease;
}

.nav-menu a:hover{
    font-size: 16px;
}

/* Menu Desplegable */

.menu-container {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 50px; /* Ajusta según sea necesario */
    right: 0;
    background-color: #FAFAFA;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
    width: 200px;
}

.dropdown-menu .a-perfil{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #2E7D32;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-sizing: border-box;
    margin: 0;
}

.dropdown-menu .a-perfil:hover {
    background-color: #2E7D32;
    color: #FAFAFA;
}


.menu-container.active .dropdown-menu {
    display: block;
}

/* opciones de perfil */

.container-perfil{
    display: flex;
    background-color: #F1F8E9;
}


.perfil{
    width: 20%;
    height:100vh;
    background-color:#FAFAFA ;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: calc(100vh - 110px);
}

.perfil a{
    margin: 0px;
    text-decoration: none;
    color: #2E7D32;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.1s ease;
}

.perfil a:hover{
    color: white;
    background-color: #2E7D32;
}

.perfil ion-icon{
    margin-right: 15px;
    margin-left: 20px;
}

/* parte derecha del perfil */
.contenedor-tarjetas{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container-container{
    flex: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;
}

.container-container .titulo h3{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

/* estilos generales para la tajeta */
.tarjeta{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #FAFAFA;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* imagen de la tarjeta */
.tarjeta-imagen img{
    width: 150px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}

/* contenido derecho de la tarjeta */
.tarjeta-contenido{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tarjeta-contenido h3{
    font-size: 17px;
    font-weight: 600;
    color: #333;
    margin: 0;
}

.tarjeta-contenido .actividad{
    font-size: 14px;
    color: #333;
    margin: 0;
}

.tarjeta-contenido .precio{
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.tarjeta-botones{
    display: flex;
    gap: 10px;
}

.tarjeta-botones button{
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-comprar{
    background-color: #2e7d58;
    color: #FAFAFA;
}

.btn-comprar:hover {
    background-color: #1B5E20;
}

.btn-eliminar{
    background-color: rgb(200, 50, 50);
    color: #FAFAFA;
}

.btn-eliminar:hover {
    background-color: rgb(135, 33, 33);
}

/* notificaciones desplegables */

.noti-container {
    position: relative;
    display: inline-block;
}

.dropdown-noti {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 50px; /* Ajusta según sea necesario */
    right: 0;
    background-color: #FAFAFA;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
    width: 400px;
    height: 300px;
}

.controladores{
    display: flex;
    border-bottom: 1px solid #ccc;
}

.controladores-izquierda{
    display: inline-flex;
    justify-content: flex-start;
}

.controladores .settings-icon{
    display: inline-flex;
}

.leidos{
    display: flex;
    flex-direction: column;
}

.tarjeta-noti{
    display: flex;
    padding: 10px ;
    margin: 0;
}

.tarjeta-noti:hover{
    background-color: #ddd;
}

.img-noti{
    background-image: url(../img/santarosa.jpg);
    width: 100px;
    height: 70px;
    background-size: cover;
    border-radius: 3px;
}

.info-noti h5{
    color: #333;
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
}

.info-noti p{
    color: #888;
    font-size: 11px;
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
}

.btn-leidos{
    position: relative;
    height: 35px;
    width: 200px;
    border-radius: 5px;
    border: none;
    background-color: #ccc ;
    color: #333;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: auto;
    margin-top: 95px;
}

.dropdown-noti .controladores, .dropdown-noti .leidos{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    text-decoration: none;
    color: #2E7D32;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-sizing: border-box;
    margin: 0;
}

.noti-container.active .dropdown-noti {
    display: block;
}

/* checkbox  */

.toggle{
    box-sizing: border-box;
    display: inline-block;
    margin-left: 10px;
    align-items: center;
}

.switch{
    margin-top: 10px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ddd ;
    border-radius: 40px;
    cursor: pointer;
    border: gray;
    margin-right: 15px;
}

.switch::after {
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 40px;
    background-color: gray ;
    left: 3px;
    top: 3px;
    transition: all 0.4s
}

/* el switch esta desactivo */


input[type='checkbox']:checked + .switch::after{
    transform: translateX(20px);
    background-color: #ddd;
}

 /* ek switch esta activado  */
input[type='checkbox']:checked + .switch{
    background-color:#2E7D32;
}

.offscreen{
    position: absolute;
    left: -99999px;
}

/* Responsive Header */
.hamburger-menu {
    display: none;
}

@media (max-width: 768px) {
    .nav{
        width: auto;
    }

    header {
        height: auto;
    }

    .navigation-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        height: auto;
        background-color: #A5D6A7;
    }

    .nav-logo img {
        height: 50px;
        width: auto;
    }

    .nav-title {
        flex: 1;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }

    .nav-icons {
        display: none; /* Hide other icons */
    }

    .menu-container {
        display: none; /* Hide dropdown menu */
    }

    .hamburger-menu {
        display: block;
        font-size: 24px;
        color: #2E7D32;
        cursor: pointer;
    }
    .navigation-2 {
        display: none; /* Hide the second navigation bar */
    }
}

/* Fullscreen Menu */
.fullscreen-menu {
    display: none; /* Oculto por defecto */
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fullscreen-menu.active {
    display: flex; /* Mostrar cuando esté activo */
}

.menu-content {
    text-align: center;
    color: #FAFAFA;
}

.menu-content input.menu-search {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.menu-content a {
    display: block;
    margin: 10px 0;
    font-size: 20px;
    color: #A5D6A7;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu-content a:hover {
    color: #FAFAFA;
}

/* Estilo para el icono de cerrar dentro del menú */
.fullscreen-menu .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #ea1010;
    cursor: pointer;
    z-index: 2100; /* Asegúrate de que esté por encima del contenido */
}

.fullscreen-menu .close-icon:hover {
    color: #A5D6A7;
}

/* Responsive para el menú de la izquierda */
@media (max-width: 768px) {
    .perfil a{
        display: flex;
        flex-direction: column; 
        align-items: center; /* Centra los íconos */
        width: auto; /* Ajusta el ancho al contenido */
        padding: 10px;
        background-color: #FAFAFA; /* Fondo opcional */
        border-radius: 10px; /* Bordes redondeados */
        height: auto; /* Ajusta la altura al contenido */
        margin-top: 0;

        /* Ocultar texto */
        text-indent: -9999px; /* Mueve el texto fuera del área visible */
        overflow: hidden; /* Oculta cualquier desbordamiento */
        white-space: nowrap; /* Evita que el texto se envuelva */
    }

    .perfil a ion-icon {
        font-size: 24px; /* Ajusta el tamaño del ícono */
    }

    .perfil{
        position: sticky;
        height: auto;
    }

    .container-container {
        margin: 0;
        padding: 10px;
        width: 80%; /* Ocupa todo el ancho disponible */
        margin-top: 20px;
        margin-left: 0; /* Elimina el margen izquierdo */
        margin-right: 0; /* Elimina el margen derecho */
        box-sizing: border-box; /* Asegura que padding y border estén incluidos en el ancho */
    }

    .contenedor-tarjetas {
        flex-direction: column; /* Cambia a una sola columna */
        gap: 10px; /* Reduce el espacio entre tarjetas */
        align-items: center;
        justify-content: center;
    }

    .tarjeta {
        flex-direction: column; /* Cambia la disposición de la tarjeta a vertical */
        align-items: flex-start; /* Alinea los elementos al inicio */
    }

    .tarjeta-imagen img {
        width: 100%; /* La imagen ocupa todo el ancho de la tarjeta */
        height: auto; /* Ajusta la altura proporcionalmente */
    }

    .tarjeta-contenido {
        width: 100%; /* Asegura que el contenido ocupe todo el ancho */
    }

    .tarjeta-botones {
        justify-content: space-between; /* Espacia los botones */
        width: 100%; /* Asegura que los botones ocupen todo el ancho */
    }

}