/* estilos generales */
body{
    background-color: #f1faf5;
    margin: 0;
}

/*---------------------------------------------------------------------------------*/

/* estilos del encabezado */
header{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    background-color: #0c4827;
    border: 2.5px solid black;
    align-items: center;  
    color: wheat; 
}

/* estilos de la navegacion */
nav{
    display: flex;
    margin-right: 2rem;
    gap: 0.6cm;
}

/* estilos del boton de busqueda */
#buscar{
    border-radius: 40%;
    cursor: pointer;
    background: wheat;
    color: black;
}

/*estilos del boton para crear paquetes */
#crearpaquetes{
    cursor: pointer;
    font-weight: 600;
    background: wheat;
    border: 1px solid black;
    color: black;
}

#icono-mas{
    font-size: 16px;
    color: black;
    font-weight: 600;
}
#crearpaquetes:hover{
    box-shadow: 0 0 10px wheat;
}

/* estilos del icono de empresa */
#iconoEmpresa{
    font-size: 25px;
    color: black;
    text-decoration: none;
    color: wheat;
}

/* estilos del icono de notificación */
#iconoNoti{
    font-size: 25px;
    color: black;
    text-decoration: none;
    color: wheat;
}

/*---------------------------------------------------- Main --------------------------------------------------------------*/
/* estilos de la sección principal */
main{
    display: flex; 
}

/* Contenedor de opciones de navegación */
.menu_opciones{
    width: 23%;
    height: 90vh;
    text-align: center;
    margin: 0;
    display: block;
    gap: 20px;
    background: white;
}

/* estilos del contenedor del titulo ajustes*/
#titulo-ajustes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* estilos del titulo (parrafo) */
#ajustes{
    display: flex;
    margin-left: 1cm;
    font-size: 0.7cm;
}

/* estilos del icono para cerrar ventana */
#icono-cerrar{
    font-size: 0.8cm;
    color: black;
}
#icono-cerrar:hover{
    text-shadow: 0 0 15px red;
}

/*Estilos de la sección en la que nos encontramos en este momento (Datos de empresa)*/
#datosEmpresa{
    width: 100%;
    height: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    cursor: pointer;
    background: #0c4827;
    color: white;
    margin-top: 4rem;
}
/* estilos para su respectivo texto (datos de empresa) */
#datosEmpresa a{
    text-decoration: none;
    color: white;
}

/* estilos para la opción de mis paquetes */
#misPaquetes{
    width: 100%;
    height: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    cursor: pointer;
    color: black; 
    margin-top: 15px;
}
/* estilos para su respectivo texto (mis paquetes) */
#misPaquetes a{
    text-decoration: none;
    color: black;   
}

#misPaquetes:hover{
    background-color: #0c4827;
    color: white;
}

/* estilos para la opción de Configurar Cuenta */
#configurarCuenta{
    width: 100%;
    height: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    cursor: pointer;
    color: black;
    margin-top: 15px;
}
/* estilos para su respectivo texto (Configurar cuenta) */
#configurarCuenta a{
    text-decoration: none;
    color: black;
}
#configurarCuenta:hover{
    background-color: #0c4827;
    color: white;
}

/* estilos para la opción de Cerrar sesión */
#cerrarSesion{
    width: 100%;
    height: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    cursor: pointer;
    color: black;
    margin-top: 15px;
}
/* estilos para su respectivo texto (Cerrar Sesión) */
#cerrarSesion a{
    text-decoration: none;
    color: black;
}
#cerrarSesion:hover{
    text-decoration: underline red;
}

/*--------------------------------------------------Contenido-------------------------------------*/

/* estilos para el contenedor general del contenido */
.contenido{
    width: 77%;
    padding: 4rem;
    height: auto;
}

#info-empresa{
    display: flex;
    width: 100%;
    height: 60vh;
    border:  1px solid black;
    border-radius: 2%;
    padding: 20px;
}





