*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header{
    width:100%;
    background-color: #B3C38E;
    text-align: center;
    color:#5c4747;
    height: 100px;

}

.barra-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 90px;
}

.barra-superior a {
    text-decoration: none;
    color: #5c4747;
    font-size: 18px;
}
.barra-superior input{
    outline: none;
    box-sizing: border-box;
    height: 40px;
    width: 0;
    padding: 0 20px;
    color:#000;
    border-radius: 50px;
    font-size: 18px;
    border: 1px solid #B3C38E;
    transition: all .7s ease;
}
.btns{
    position:absolute;
    right: 495px;
    top: 25px;
    width: 40px;
    height:40px;
    background: #B3C38E;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    transition: .5s; 
}
.btns i{
    font-size: 20px;
    color: #000;
    line-height: 80px;
    transition: all .7s  ease;
}
.barra-superior:hover input{
    width: 350px;
}
.barra-superior:hover i {
    transform: rotate(-360deg);
}
.btns:hover{
    background-color: #555555;
}

.logo { 
    font-weight: bold;
    font-style: italic;
    font-size: 45px;
}

.nav-icons i, .nav-icons a {
    margin-left: 10px;
    cursor: pointer;
    margin-right: 15px;
    font-weight: bold;
}

.nav-icons a {
    text-decoration: none;
    color: #5c4747;
    font-weight: bold;
}

.abrir-menu, .cerrar-menu {
    display: none;
}

@media screen and (max-width: 1009px) {
    .abrir-menu, .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #a8d5a1;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        z-index: 99999999;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-icons i, .nav-icons a, .nav-icons button {
        flex-direction: column;
        align-items: center;
    }
    .btns{
        right:20px;
        top:70px;
    }
}



.contenido{
    background-image: url('/EXPLORE_RISARALDA/img/Elicoidal-Rutas-Magicas.jpg');
    height: 85vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
/* estilos de la seccion de inicio */
.inicio{
    background-color:rgba(0, 249, 249, 0);
    display : flex;
    justify-content:left;
    align-items: left;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: left;    


    

}
.inicio h2{
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);

}
.inicio p{
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);

}
.join-button {
    background-color:white;
    color: #000;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.2rem; 
    text-decoration: none;
    width: 200px;
}
.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 20px;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    padding: 0 20px;
    background-color: #02820d00;
    width: 800px;
    height: 400px;
    top:100px;
    left: 0;
    right: 0;
    position: relative;
    z-index: 1;
    margin-right:600px;

}
.titulo h2{
    font-size: 2.5rem;
    color: #fff;
    text-align: left;
    align-items: left;
}
.titulo p{
    font-size: 1.5rem;
    color: #fff;
    text-align: left;
}


.busqueda{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top:-15px;
    left: 0;
    right: 0;
    position: relative;
}
.busqueda input[type="text"]{
    width: 450px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
    font-size: 1rem;
}
.busqueda button{
    background-color: #56ff64;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
}  


/* Carrusel de imagenes */
.conteiner_general{
    position: relative;
    overflow: hidden;
    background-color: #fff;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex-wrap: wrap;
}
.conteiner{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    
}

.slider input{
    visibility: hidden;
    display: none;
}

/* Seccion de imagenes */
.conteiner_general{
    height: 700px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex-wrap: wrap;    
}
.titulo_muni{
    font-size: 40px;
    margin-top: 10px;
    background-color:#ffffff;
    text-align: center;
    margin-bottom: 20px;
}
.conteiner{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
}
.slider input{
    visibility: hidden;
    display: none;
}
.buttons{
    position:absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 70px;
    gap:10px;
    z-index: 1;
}
.buttons label{
    width: 20px;
    height: 20px;
    background-color: #000000;
    opacity: 0.5;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttons label:hover{
    scale:(1.1);
    opacity: 1;
}
.slider input:nth-child(1):checked ~ .buttons label:nth-child(1),
.slider input:nth-child(2):checked ~ .buttons label:nth-child(2),
.slider input:nth-child(3):checked ~ .buttons label:nth-child(3),
.slider input:nth-child(4):checked ~ .buttons label:nth-child(4),
.slider input:nth-child(5):checked ~ .buttons label:nth-child(5),
.slider input:nth-child(6):checked ~ .buttons label:nth-child(6),
.slider input:nth-child(7):checked ~ .buttons label:nth-child(7),
.slider input:nth-child(8):checked ~ .buttons label:nth-child(8),
.slider input:nth-child(9):checked ~ .buttons label:nth-child(9),
.slider input:nth-child(10):checked ~ .buttons label:nth-child(10),
.slider input:nth-child(11):checked ~ .buttons label:nth-child(11),
.slider input:nth-child(12):checked ~ .buttons label:nth-child(12),
.slider input:nth-child(13):checked ~ .buttons label:nth-child(13),
.slider input:nth-child(14):checked ~ .buttons label:nth-child(14)
{ 
opacity: 1;
scroll-margin: (1.2);
width: 40px;
}
.content{
    position:relative;
    width: 1400vw;
    display: flex;
    border-radius: 10px;
    transition: all 0.3s ease;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.primerslide,.segundoslide,.tercerslide,.cuartaslide,.quintaslide,.sextoslide,
.septimoslide,.octavoslide,.novenoslide,.decimoslide,.onceslide,.doceslide,
.treceslide,.catorceslide{
    position: relative;
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider input:nth-child(1):checked ~ .content{
    left: 0;
    }
.slider input:nth-child(2):checked ~ .content{
    left: -100vw;
    }
.slider input:nth-child(3):checked ~ .content{
    left: -200vw;
    }
.slider input:nth-child(4):checked ~ .content{
    left: -300vw;
    }
.slider input:nth-child(5):checked ~ .content{
    left: -400vw;
    }
.slider input:nth-child(6):checked ~ .content{
    left: -500vw;
    }
.slider input:nth-child(7):checked ~ .content{
    left: -600vw;
    }
.slider input:nth-child(8):checked ~ .content{
    left: -700vw;
    }
.slider input:nth-child(9):checked ~ .content{
    left: -800vw;
    }
.slider input:nth-child(10):checked ~ .content{
    left: -900vw;
    }
.slider input:nth-child(11):checked ~ .content{
    left: -1000vw;
    }
.slider input:nth-child(12):checked ~ .content{
    left: -1100vw;
    }
.slider input:nth-child(13):checked ~ .content{
    left: -1200vw;
    }
.slider input:nth-child(14):checked ~ .content{
    left: -1300vw;
    }


.titulo_muni{
    text-align: center;
    justify-content: center;
    align-items: center;
    top:50px;
    display: flex;
}
.card{
    display:flex;
    width: 900px;
    position: relative;
    border-radius: 20px;
}
.card img{
    width:700px;
    height: 500px;
    display:block;
    margin: auto;
    border-radius: 20px;
    
}
.conteni_ima{
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 100px;
    position: absolute;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    opacity: 0;
    transition: all 0.3s ease;
}
.conteni_ima:hover{
    opacity: 1;
    box-shadow: 0 0 50px black;
}
.conteni_ima h1{
    font-size: 45px;
    color:white;
    margin-bottom: 15px;
    text-align: center;
}
.conteni-ima > *{
    transform: translateY(25px);
    transition: transform 0.6s;
    }
.conteni-ima:hover > *{
    transform: translateY(0px);
    
}
#titulo3 {
    margin-top: 10px;
    background-color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em; /* Ajuste inicial del tamaño de la fuente */
}
.explore-button{
    width:150px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    background-color: #25d366;
    cursor: pointer;
}
.explore-button:hover{
    background-color: #183139;
}
/* Seccion destacados*/

/* seccion ofrecer */
.espacio_ofer{
    display: flex;
    background-color: #ffffff;
    width:100%;
    height:300px;
    justify-content: center; 
    padding:50px;

}

.destaca1{
    display: flex;
    width:80%;
    height: 200px;
    justify-content: space-between;
    margin: 0 auto;

}
.desta1:hover{
    transform: scale(1.1);
}
.destaca1 img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.destaca1 p{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.desta1{
    background-color: #ffffff;
    border-radius: 10px;
}
.destacados1{
    font-size: 50px;
    text-align: center;
}

/* Seccion testimonios */
.contenedor,.contenedor1{
    display: flex;
    margin: auto;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 15px;
    background-color: white;
    height: auto;
    scroll-behavior: smooth;
    margin-bottom: 50px;
}

.contenedor::-webkit-scrollbar,.contenedor1::-webkit-scrollbar {
    display: none;
}

.seccion-header,.seccion-header1{
    text-align: center;
    margin-bottom: 10px;
    margin-top:30px;
}

.seccion-header .titulo, .seccion-header1 .titulo{
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    color:#5c4747;
    line-height: 1.2;
}

.testimonios, .testimonios1{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.testimonios-item{
    flex: 0 0 auto;
    width: 30%;
    background-color:whitesmoke;
    border-radius: 30px;
    height: auto;
    padding: 25px;
  margin: 20px 20px;
  box-shadow: -14px -12px 20px -15px rgba(0,0,0,0.56);
}
.testimonios-item1{
    flex:0 0 0 auto;
    width: 30%;
    background-color:whitesmoke;
    border-radius: 30px;
    height:350px;
    padding: 25px;
  margin: 20px 20px;
  box-shadow: -14px -12px 20px -15px rgba(0,0,0,0.56);
}

.info-testimonios, .info-testimonios1{
    display: flex;
    align-items: center;
}

.testimonios-item img {
    max-width: 80px;
    border-radius: 50%;
    max-height: 80px;
    margin-left: 20px;
    vertical-align: middle;
    margin: 15px;
}
.testimonios-item1 img{
    width: 200px;
    border-radius: 20px;
    height: 200px;
    margin-left: 20px;
    align-items: center;
    margin: 15px;
    text-align: center;
    justify-content: center;
}

.text-box, .text-box1{
    display: flex;
    flex-direction: column;
}

.testimonios-item .name ,.testimonios-item1 .name{
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.2;
}

.testimonios-item .job , .testimonios-item1 .job1{
    text-transform: capitalize;
    color: gray;
}

.testimonios-item p, .testimonios-item p{
    margin-top: 20px;
    color: gray;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.rating, .rating1{
    margin-top: 15px;
}

.rating i , .rating1 i{
    font-size: 24px;
    color: hsl(33, 88%, 66%);
}

.pre-btn, .next-btn, .pre-btn1,.next-btn1{
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    background: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}

.pre-btn, .next-btn i,.pre-btn1, .next-btn1 i{
    font-size: 15px;
}

.pre-btn,.pre-btn1 {
    left: 10px;
}

.next-btn ,.next-btn1{
    right: 10px;
}

.pre-btn:hover, .next-btn:hover,.pre-btn1:hover, .next-btn1:hover {
    background: #555;
}

/* Seccion Comentactenos */
.contacto {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(-45deg, #2E4A3F, #A8C9B9, #8B694F, #87CEEB, #F8F8F8);
    background-size: 400% 400%;
    animation: bg 12s ease infinite;
}

@keyframes bg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.contacto h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.contacto p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.formulario-contacto, .informacion-contacto {
    display: flex;
    flex-direction: column; /* Cambiado a columna para mejor responsividad */
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
    background-color: rgba(250, 245, 245, 0.447);
    transition: transform 0.3s;
    padding: 10px;
    border-radius: 10px;
}

.formulario-contacto:hover, .informacion-contacto:hover {
    transform: scale(1.05);
}

.formulario-contacto form {
    display: flex;
    flex-direction: column;
}

.formulario-contacto label, .formulario-contacto input, .formulario-contacto textarea, .formulario-contacto button {
    margin-bottom: 10px;
}

.formulario-contacto button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #183139;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.formulario-contacto input::placeholder{
    padding-left: 10px;
}

input {
    border-radius: 5px;
    height: 30px;
    border: none;
    width: 100%; 
    max-width: 575px;
}

textarea{
    border-radius: 5px;
    border: none;
}

/* Media Queries para contacto */
@media (max-width: 768px) {
    #titulo3 {
        font-size: 1.8em;
    }

    .section-nosotros {
        padding: 10px;
    }

    .mision p, .vision p, .contacto p {
        font-size: 0.9em;
    }

    .contacto h2 {
        font-size: 1.8em;
    }

    input {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    #titulo3 {
        font-size: 1.6em;
    }

    .mision p, .vision p, .contacto p {
        font-size: 0.85em;
    }

    .contacto h2 {
        font-size: 1.6em;
    }

    .formulario-contacto, .informacion-contacto {
        padding: 5px;
    }
}
/* Iconos de contacto */
.social {
    display: flex;
    justify-content: center; /* Centrar los iconos */
    align-items: center;
    gap: 20px;
    border-radius: 10%;
}

.social a {
    text-decoration: none;
    width: 50px; /* Reducido el tamaño para móviles */
    height: 50px;
    border-radius: 50%;
    font-size: 25px; /* Reducido el tamaño para móviles */
    border: 3px solid #f0f0f0;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.social a:hover:first-child {
    color: #25d366;
    border: 3px solid #25d366;
    box-shadow: 0 0 25px #25d366;
}

.social a:hover:nth-child(2) {
    color: #1da1f2;
    border: 3px solid #1da1f2;
    box-shadow: 0 0 25px #1da1f2;
}

.social a:hover:nth-child(3) {
    color: #ee2a7b;
    border: 3px solid #ee2a7b;
    box-shadow: 0 0 25px #ee2a7b;
}

.footer {
    width: 100%;
    background: black;
    color: #f4f4f4;
    text-align: center;
    padding: 10px;
}

.ir-arriba {
    display: inline-block;
    padding: 20px;
    background-color: #a8d5a1;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    bottom:20px;
    right: 20px;
    z-index: 1000;
    border: none;
    border-radius: 50%;
}
.ir-arriba i{
    font-size: 20px;
    color:#5c4747 ;
}