body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-sizing: border-box;
}

header{
    width:100%;
    background-color: #a8d5a1;
    text-align: center;
    color:#5c4747;
    height: 100px;

}

.barra-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 90px;
}

.barra-superior a {
    text-decoration: none;
    color: #5c4747;
    font-size: 18px;
}
.barra-superior input{
    outline: none;
    box-sizing: border-box;
    height: 40px;
    width: 0;
    padding: 0 20px;
    color:#000;
    border-radius: 50px;
    font-size: 18px;
    border: 1px solid #B3C38E;
    transition: all .7s ease;
}
.btns{
    position:absolute;
    right: 468px;
    top: 25px;
    width: 40px;
    height:40px;
    background: #016725;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    transition: .5s; 
}
.btns i{
    font-size: 20px;
    color: #ffffff;
    line-height: 80px;
    transition: all .7s  ease;
}
.barra-superior:hover input{
    width: 350px;
}
.barra-superior:hover i {
    transform: rotate(-360deg);
}
.btns:hover{
    background-color: #555555;
}

.logo { 
    font-weight: bold;
    font-style: italic;
    font-size: 45px;
}

.nav-icons i, .nav-icons a {
    margin-left: 10px;
    cursor: pointer;
    margin-right: 15px;
    font-weight: bold;
}

.nav-icons a {
    text-decoration: none;
    color: #5c4747;
    font-weight: bold;
}

.abrir-menu, .cerrar-menu {
    display: none;
}

@media screen and (max-width: 1009px) {
    .abrir-menu, .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #a8d5a1;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        z-index: 99999999;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-icons i, .nav-icons a, .nav-icons button {
        flex-direction: column;
        align-items: center;
    }
    .btns{
        right:20px;
        top:70px;
    }
}

/* filtro de paquetes */
.filtro-paquetes{
    width: 100%;
    margin: 0 50px;
    padding: 0 15px;
    font-size: 15px;
    color: #5C4747;
}

.filtro-paquetes select{
    height: 45px;
    width: 35%;
    margin-right: 15px;
    border-radius: 12px;
    padding: 0 15px;
    font-size: 15px;
    color: #5C4747;
}

.filtro-paquetes button{
    height: 45px;
    width: 15%;
    border-radius: 12px;
    border: none;
    background-color:#59714B ;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}

/* creacion de paquetes */
.contenedor-paquetes{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.paquete{
    width: 20%;
    box-sizing: border-box;
} 

.paquete .imagen{
    background-image: url(/EXPLORE_RISARALDA/img/termales-santa-rosa-cabal_0.jpg);
    box-sizing: border-box;
    background-size: cover;
    width: 100%;
    margin: 40px 0px 0px 0px;
    border-radius: 12px 12px 0px 0px;
    height: 200px;
}

.info-paquete{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid black;
    border-top: none;
    width: 100%;
    margin: 0px;
    border-radius: 0px 0px 12px 12px;
    padding: 0px;
    background-color: white;
    color:#5C4747 ;
}

.info-paquete h2{
    margin: 0px 0px 0px 0px;
    padding: 5px 20px;
}

.info-paquete h3{
    padding: 0px 20px;
    font-size:medium;
    margin-top: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.precio{
    display: flex;
    justify-content: space-between;
    margin-right: 0px;
}

.precio .descuento{
    background-color:#a8d5a1;
    padding: 10px;
    border-radius: 3px;
    color:#5C4747;
    font-weight: 600;
}

.corazon{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.corazon i{
    margin-left: 20px;
    font-size: 30px;
}

.corazon .agregar-carrito{
    margin-right: 20px;
    background-color: #59714B;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    color: white;
    letter-spacing: 1px;
}