*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header{
    position: relative;
    width:100%;
    background-color: #A5D6A7;
    text-align: center;
    color:#2E7D32;
    height: 100px;
    z-index: 1000;
}

main{
    margin-top: 20px;
}

/* PARTE SUPEIOR DEL HEADER  */

.navigation-1{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 32px;
    height: 60px;
    background-color: #FAFAFA;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.nav-logo img {
    display: flex;
    justify-content: flex-start;
    height: 80px;
    width: auto;
    
}

.nav-title{
    font-size: 16px;
    font-weight: 500;
    flex: 1;
    text-align: center;
    
}

.nav-title a{
    text-decoration: none;
    color:#2E7D32;
}

.nav{
    width: 33%;
}

.nav-icons {
    display: flex;
    justify-content: end;
    box-sizing: border-box;
    
}

.nav-icons ion-icon{
    color: #2E7D32;
    font-size: 18px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    padding: 10px;
    border-radius: 50%;
}

.nav-icons ion-icon:hover{
    transform: scale(1.2);
    background-color: #2E7D32;
    border-radius: 50%;
    color: #FAFAFA;
    padding: 10px;
}

/* PARTE INFERIOR DEL HEADER  */

.navigation-2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #A5D6A7;
    height: 40px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-container ion-icon {
    position: absolute;
    left: 10px; /* Ajusta según sea necesario */
    color: #888;
    font-size: 20px;
    margin-left: 30px;
}

.buscar {
    padding-left: 35px; /* Espacio para el ícono */
    padding-right: 10px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 1rem;
    width: 100%;
    margin-left: 30px;
    background-color: #FAFAFA;
}

.nav-menu{
    margin-left: 30px;
}

.nav-menu a{
    margin-right: 20px;
    text-decoration: none;
    color: #2E7D32;
    font-weight: 600;
    font-size: 15px;
    transition: font-size 0.3s ease;
}

.nav-menu a:hover{
    font-size: 16px;
}

/* Menu Desplegable */

.menu-container {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 50px; /* Ajusta según sea necesario */
    right: 0;
    background-color: #FAFAFA;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
    width: 200px;
}

.dropdown-menu .a-perfil{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #2E7D32;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-sizing: border-box;
    margin: 0;
}

.dropdown-menu .a-perfil:hover {
    background-color: #2E7D32;
    color: #FAFAFA;
}

.menu-container.active .dropdown-menu {
    display: block;
}

/* notificaciones desplegables */

.noti-container {
    position: relative;
    display: inline-block;
}

.dropdown-noti {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 50px; /* Ajusta según sea necesario */
    right: 0;
    background-color: #FAFAFA;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
    width: 400px;
    height: 300px;
}

.controladores{
    display: flex;
    border-bottom: 1px solid #ccc;
}

.controladores-izquierda{
    display: inline-flex;
    justify-content: flex-start;
}

.controladores .settings-icon{
    display: inline-flex;
}

.leidos{
    display: flex;
    flex-direction: column;
}

.tarjeta-noti{
    display: flex;
    padding: 10px ;
    margin: 0;
}

.tarjeta-noti:hover{
    background-color: #ddd;
}

.img-noti{
    background-image: url(../img/santarosa.jpg);
    width: 100px;
    height: 70px;
    background-size: cover;
    border-radius: 3px;
}

.info-noti h5{
    color: #333;
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
}

.info-noti p{
    color: #888;
    font-size: 11px;
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
}

.btn-leidos{
    position: relative;
    height: 35px;
    width: 200px;
    border-radius: 5px;
    border: none;
    background-color: #ccc ;
    color: #333;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: auto;
    margin-top: 95px;
}

.dropdown-noti .controladores, .dropdown-noti .leidos{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    text-decoration: none;
    color: #2E7D32;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-sizing: border-box;
    margin: 0;
}

.noti-container.active .dropdown-noti {
    display: block;
}

/* checkbox  */

.toggle{
    box-sizing: border-box;
    display: inline-block;
    margin-left: 10px;
    align-items: center;
}

.switch{
    margin-top: 10px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ddd ;
    border-radius: 40px;
    cursor: pointer;
    border: gray;
    margin-right: 15px;
}

.switch::after {
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 40px;
    background-color: gray ;
    left: 3px;
    top: 3px;
    transition: all 0.4s
}

/* el switch esta desactivo */


input[type='checkbox']:checked + .switch::after{
    transform: translateX(20px);
    background-color: #ddd;
}

 /* ek switch esta activado  */
input[type='checkbox']:checked + .switch{
    background-color:#2E7D32;
}

.offscreen{
    position: absolute;
    left: -99999px;
}


/* filtro de paquetes */
.container-paquetes{
    width: 55%;
    margin: 0 auto;
    padding: 15px;
    font-size: 15px;
    border-radius: 10px;
    color: #333;
    background-color: #FAFAFA;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.container-paquetes h2{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.filtros-paquetes{
    display: flex;
    gap: 15px;
}

.filtros-paquetes select{
    height: 35px;
    width: 35%;
    margin-right: 15px;
    border-radius: 12px;
    padding: 0 15px;
    font-size: 14px;
    color: #5C4747;
}

.filtros-paquetes button{
    position: relative;
    height: 35px;
    width: 15%;
    border-radius: 12px;
    border: none;
    background-color:#A5D6A7 ;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin-left: auto;
}


/* creacion de paquetes */
.contenedor-general{
    display: flex;
    flex-direction: column;
    background-color: #F1F8E9;
    padding-top: 20px;
    margin-bottom: 30px;
}

.contenedor-paquetes{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.info-paquete h2{
    font-size: 16px;
    font-weight: 600;
    margin-left: 55px;
    color: #333;
}

.section-title{
    margin-left: 50px;
    font-size: 18px;
    color: #333;
    font-weight: 500;
    margin-bottom: 40px;
}

.paquete{
    width: 18%;
    box-sizing: border-box;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
} 

.paquete .imagen{
    background-image: url(../img/termales-santa-rosa-cabal_0.jpg);
    box-sizing: border-box;
    background-size: cover;
    width: 100%;
    border-radius: 12px 12px 0px 0px;
    height: 200px;
    
}

.info-paquete{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-top: none;
    width: 100%;
    margin: 0px;
    border-radius: 0px 0px 12px 12px;
    padding: 0px;
    background-color: white;
    color:#5C4747 ;
}

.info-paquete h2{
    color: #333;
    margin: 0;
    padding: 5px 20px;
}

.info-paquete h3{
    padding: 0px 20px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-top: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.precio{
    display: flex;
    justify-content: space-between;
    margin-right: 0px;
}

.precio h2{
    color: #333;
    font-weight: 700;
    letter-spacing: 1px;
}

.precio .descuento{
    background-color:#A5D6A7;
    padding: 8px;
    border-radius: 3px;
    color:#333;
    font-weight: 700;
}

.corazon{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 15px;
}

.corazon ion-icon{
    margin-left: 15px;
    font-size: 30px;
    color: #333;
}

.corazon .agregar-carrito{
    margin-right: 15px;
    background-color:#A5D6A7 ;
    border: 1px solid #2E7D32;
    border-radius: 3px;
    padding: 10px 15px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
}

/* Responsive Header */
.hamburger-menu {
    display: none;
}

@media (max-width: 768px) {
    .nav{
        width: auto;
    }

    header {
        height: auto;
    }

    .navigation-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        height: auto;
        background-color: #A5D6A7;
    }

    .nav-logo img {
        height: 50px;
        width: auto;
    }

    .nav-title {
        flex: 1;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }

    .nav-icons {
        display: none; /* Hide other icons */
    }

    .menu-container {
        display: none; /* Hide dropdown menu */
    }

    .hamburger-menu {
        display: block;
        font-size: 24px;
        color: #2E7D32;
        cursor: pointer;
    }
    .navigation-2 {
        display: none; /* Hide the second navigation bar */
    }
}

/* Fullscreen Menu */
.fullscreen-menu {
    display: none; /* Oculto por defecto */
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fullscreen-menu.active {
    display: flex; /* Mostrar cuando esté activo */
}

.menu-content {
    text-align: center;
    color: #FAFAFA;
}

.menu-content input.menu-search {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.menu-content a {
    display: block;
    margin: 10px 0;
    font-size: 20px;
    color: #A5D6A7;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu-content a:hover {
    color: #FAFAFA;
}

/* Estilo para el icono de cerrar dentro del menú */
.fullscreen-menu .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #ea1010;
    cursor: pointer;
    z-index: 2100; /* Asegúrate de que esté por encima del contenido */
}

.fullscreen-menu .close-icon:hover {
    color: #A5D6A7;
}

/* Estilo responsivo para paquetes */
@media (max-width: 768px) {
    .contenedor-paquetes {
        display: flex;
        flex-direction: column; /* Cambia a diseño vertical */
        gap: 20px; /* Espaciado entre paquetes */
        align-content: center;
    }

    .paquete {
        width: 90%; /* Ocupa todo el ancho */
        box-sizing: border-box;
        
    }

    .paquete .imagen {
        height: 250px; /* Ajusta la altura de la imagen */
        border-radius: 12px 12px 0 0;
    }

    .info-paquete {
        padding: 10px;
    }

    .info-paquete h2 {
        font-size: 18px;
    }

    .info-paquete h3 {
        font-size: 14px;
    }

    .precio h2 {
        font-size: 16px;
    }

    .precio .descuento {
        font-size: 14px;
    }
}

/* Responsive para container-paquetes */
@media (max-width: 768px) {
    .container-paquetes {
        width: 90%; /* Ocupa casi todo el ancho de la pantalla */
        margin: 0 auto;
        padding: 10px;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .container-paquetes h2 {
        font-size: 18px;
        text-align: center; /* Centra el título */
    }

    .filtros-paquetes {
        flex-direction: column; /* Cambia a diseño vertical */
        gap: 10px; /* Espaciado entre los elementos */
        align-items: stretch; /* Asegura que los elementos ocupen todo el ancho */
    }
    .filtros-paquetes select,
    .filtros-paquetes button {
        width: 100%; /* Ocupa todo el ancho */
        font-size: 14px;
    }

    .filtros-paquetes button {
        margin-left: 0; /* Elimina el margen izquierdo */
    }
}

.footer {
    background-color: #333;
    color: white;
    padding: 40px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-left {
    max-width: 300px;
  }
  
  .logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .description {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .footer-links {
    display: flex;
    gap: 40px;
  }
  
  .footer-links h4 {
    margin-bottom: 10px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 8px;
  }
  
  .footer-links a {
    color: #cccccc;
    text-decoration: none;
  }
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    border-top: 1px solid white;
    margin-top: 30px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .social-icons a {
    margin-left: 10px;
    font-size: 18px;
    color: white;
    text-decoration:none;
}